body {
    background-image: url('../images/farm.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right; 
    height: 100vh;
    position: relative;
}

.gameTitle {
    text-align: center;
    color: black;
    font-size: 72px;
}

#winner, #loser {
    text-align: center;
    color: black;
    font-size: 56px;
}

h3 {
    text-align: center;  
    color: black;
}
.jumbotron, .card {
    background: none;
    color: #ffffff;
}

.card {
    float: right;
    position: absolute;
    bottom: 70px;
    right: 10px;
}
#hold {
    text-align: center;
    color: black;
}

.strong {
    font-size: 56px;
}
